:root {
    --vp-c-green: #227bff;
    --vp-c-green-light: #1b76ff;
    --vp-c-green-lighter: #227bff;
    --vp-c-green-dark: #005be3;
    --vp-c-green-darker: #0045ac;
    --vp-c-green-dimm-1: rgba(39, 112, 222, 0.5);
    --vp-c-green-dimm-2: rgba(39, 112, 222, 0.25);
    --vp-c-green-dimm-3: rgba(39, 112, 222, 0.05);

    --vp-font-family-base: 'PingFang SC', 'Microsoft Yahei', sans-serif;
    --vp-font-family-mono: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

    /*--vp-code-bg-color: #52525b;*/

    /* pure theme color */
    --li-dot-color: #737373;
    --date-color: var(--vp-c-indigo-soft);
    --date-font-family: Georgia, sans-serif;
}

/* theme reset start */
/* for copyright */
.Layout {
    min-height: calc(100vh - 59px) !important;
}
.vp-doc a {
    color:var(--vp-c-text-1);
    font-weight: 400;
}
.title {
    color: var(--vp-c-text-1);
    font-size: 1.8rem !important;
    letter-spacing: -1px;
    font-weight: 500 !important;
    font-family: Optima, sans-serif !important;
}

.content a[rel~=noreferrer]:link, a[rel~=noreferrer]:visited{
    color: var(--vp-c-brand);
    font-weight: 400 !important;
    border-bottom: 1px solid var(--vp-c-brand);
}
.content a[rel~=noreferrer]:hover {
    color:#888;
}
h1 {
    font-size: 1.7rem !important;
    font-weight: 500 !important;
}
h2 {
    font-size: 1.0625rem !important;
    font-weight: 500 !important;
    border-bottom: 1px solid var(--vp-c-divider-light);
    border-top:none !important;
    margin:inherit !important;
}
/* for aside start */
.aside {
    position: fixed !important;
    right:24px;
}
.VPDoc {
    padding-top: 10px !important;
}
.container {
    max-width: 58rem !important;
}
.VPContent .container {
    max-width: 58rem !important;
    display: block !important;
    position: relative;
}
.VPDoc.has-aside .content-container {
    max-width: 1800px !important;
}

/* when witdh less 1440 hide the aside*/
@media(min-width:1280px) {
    .VPDoc .aside {
        display: none !important;
    }
}
@media(min-width:1440px) {
    .VPDoc:not(.has-sidebar) .content {
        max-width: inherit !important;
    }
    .VPDoc .aside {
       display: block !important;
    }
}
@media (min-width: 768px) {
    .VPDoc {
        padding-top: 10px !important;
    }
}
@media (min-width: 960px) {
    .VPNavBar .container {
        //border-bottom: 1px solid var(--vp-c-divider-light) !important;
    }
    .content {
        padding: 0 !important;
    }
    .VPDoc:not(.has-sidebar) .content {
        max-width: inherit !important;
    }
    .VPDocAsideOutline .content {
        padding-left: 14px !important;
    }
    .VPDoc {
        padding-top: 10px !important;
    }

}
/* for aside end */
/* theme reset end */

/*tags and archives page style*/
.article {
    padding: 4px 0 4px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-o {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 3px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--li-dot-color);
}

.titleDiv {
    color: var(--vp-c-text-1);
    font-size: 0.9375rem;
}
.titleDiv:hover {
    color: var(--vp-c-brand);
}
.date {
    color: var(--date-color);
    font-family: var(--date-font-family);
}

/*mobile*/
@media screen and (max-width: 720px) {

    .vp-doc h1 {
        font-size: 1.25rem !important;
    }

    .article {
        padding: 4px;
    }
    .title-o {
        margin-right: 4px;
    }
    .titleDiv {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 17em;
    }
}
